.output-div {
    width: 100%;
    display: none;
}

.input-container {
    position: relative;
    left: 25%;
    width: 50%;
}


.input-label {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    float: left;
    line-height: 37px;
}


.inputs {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

.inputs > input {
    position: relative;
    font-size: 24px;
    float: right;
}

.calculate-button-div {
    width: fit-content;
    margin: auto;
    position: relative;
    padding-top: 20px;
    display: block;
    text-align: center;
}

.calculate-button {
    font-size: 20pt;
    display: block;
    border-radius: 8px;
}

.show-table-button {
    margin-top: 20px;
}
