.banner {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: #512888;
}

.banner::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: 0px;
    border-right: 50px solid white;
    border-top: 50px solid #512888;
}


.left-banner {
    position: absolute;
    height: 100%;
    width: 33%;
    background-color: #a98fc3;
}

.left-banner::before {
    position: absolute;
    content: "";
    width: 0px;
    top: 0px;
    border-left: 50px solid white;
    border-top: 50px solid #a98fc3;
}
.left-banner::after {
    position: absolute;
    content: "";
    width: 0;
    top: 0%;
    right: 0%;
    border-left: 50px solid #a98fc3;
    border-top: 50px solid #512888;
}