.chart-container {
    position: relative;
    height: 350px;
    width: calc(100% - 100px);
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    left: 50px;
}

.left-chart {
    position: relative;
    float: left;
    border: 1px solid;
    width: 49%;
    height: 100%;
}

.right-chart {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    top: 0%;
    border: 1px solid;
}

@media screen and (max-width: 600px) {
    .right-chart {
        width: 100%;
        height: 350px;
        float: none;
    }

    .left-chart {
        width: 100%;
        height: 350px;
        float: none;
    }

    .chart-container {
        display: block;
        height: auto;
    }
}